<a href="https://colab.research.google.com/github/Lambda-School-Labs/Labs25-Bridges_to_Prosperity-TeamC-ds/blob/feature%2Ftrent-bernhisel%2Fwebscraping-nb/notebooks/EDA_on_Rwanda_Schools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
csv_url = 'https://raw.githubusercontent.com/Lambda-School-Labs/Labs25-Bridges_to_Prosperity-TeamC-ds/main/rwanda_data_files/Rwanda_Schools%20(1).csv'
df = pd.read_csv(csv_url)
print(df.shape)
df = df.drop(columns='Unnamed: 0')
df.head()

(3116, 5)

                                     School Name Province   District   Sector
0                           ACADEMIE DE LA SALLE    North    Gicumbi   Byumba
1                                   ACEC BIHEMBE     West    Nyabihu   Shyira
2                                  ADEGI GITUZA      East    Gatsibo   Kageyo
3                                       ADELAIDE     East    Kayonza   Kabare
4  ADEPR MATIMBA NURSERY PARENTS &PRIMARY SCHOOL     East  Nyagatare  Matimba

In [14]:
# update the District, Sector, and Province to title case
df['District'] = df['District'].str.title()
df['Sector'] = df['Sector'].str.title()
df['Province'] = df['Province'].str.title()

In [15]:
# get the count of schools that are in each district, sector, province

df.groupby('Sector').count()['School Name'].sort_values(ascending=False)

Sector
Ngoma         31
Busasamana    26
Ruhango       25
Gisenyi       25
Kageyo        23
              ..
Kanyinya       2
Ntuba          1
Nyagahanga     1
Niboyi         1
Gatoki         1
Name: School Name, Length: 382, dtype: int64