In [112]:
import pandas as pd

In [113]:
# read in bridge data to dataframe

bridges = pd.read_csv('https://raw.githubusercontent.com/Lambda-School-Labs/Labs25-Bridges_to_Prosperity-TeamC-ds/main/final_csv/final_model_df.csv')

bridges.head()

           Province District  ... Excluded num_communities_served
0  Western Province   Rusizi  ...       21                      5
1  Western Province   Rusizi  ...       21                      5
2  Western Province   Rusizi  ...       21                      5
3  Western Province   Rusizi  ...       21                      5
4  Western Province   Rusizi  ...       21                      1

[5 rows x 31 columns]

### Data Cleaning

In [114]:
# what are the data types for each of the features? 
# are there any that we will need to change?

bridges.dtypes

Province                        object
District                        object
Sector                          object
Bridge Site Name                object
Project Stage                   object
Project Code                     int64
Bridge Type                     object
 GPS (Latitude)                 object
GPS (Longitude)                 object
Individuals Directly Served     object
Assessment Date                 object
Original_Community_col          object
Community_Served                object
Prov_ID                          int64
Dist_ID                          int64
Sect_ID                          int64
Mean share of harvest sold     float64
School_count                     int64
 Population of Sector           object
Access rate                    float64
Umurenge SACCO                  object
MFIs                            object
Bank Branch                     object
ATM                             object
Bank Agent                      object
Mobile Money Agent              object
Banked                           int64
Other formal (non-bank)          int64
Informal only                    int64
Excluded                         int64
num_communities_served           int64
dtype: object

*   GPS coordinates should be float values, not objects  
*   individuals served should be an integer...but there are alot of unknowns...what do we do with that?  
*   population of sector should be an integer, not object  
*   The average time to banking institutions shouldnt be objects either

#### GPS Coordinates

In [115]:
# what is going on with the GPS coordinates?
# when trying to cast the GPS coordinate columns to float type, it throws
# a ValueError: could not conver string to float: 'Unknown'. 
# looks like we have values called 'Unknown' in the data set. 
# we will need to replace those.

bridges[bridges['GPS (Longitude)'] == 'Unknown']

              Province District  ... Excluded num_communities_served
917   Western Province  Rutsiro  ...       22                      1
1205  Western Province  Nyabihu  ...       11                      1

[2 rows x 31 columns]

In [116]:
# its the same two bridges that have unknown for the Latitude as well.
bridges[bridges[' GPS (Latitude)'] == 'Unknown']

              Province District  ... Excluded num_communities_served
917   Western Province  Rutsiro  ...       22                      1
1205  Western Province  Nyabihu  ...       11                      1

[2 rows x 31 columns]

In [117]:
# what is the mean lon, lat for the sect ID that these two bridges reside
sector_id = [3208, 3409]
# get just the bridges in Sectors that we have missing Lon and Lat.

for i in sector_id:
  tmp = bridges.loc[(bridges['Sect_ID'] == i) & (bridges['GPS (Longitude)'] != 'Unknown')]
  # change the column type to float and get the mean
  print(f"mean Longitude for sector {i}: {tmp['GPS (Longitude)'].astype('float').mean()}")
  print(f"mean Latitude for sector {i}: {tmp[' GPS (Latitude)'].astype('float').mean()}")

mean Longitude for sector 3208: 29.35906
mean Latitude for sector 3208: -1.943812
mean Longitude for sector 3409: 29.498763814285716
mean Latitude for sector 3409: -1.6838434857142859

In [118]:
# we will replace the unknown values for these with the above mean lon, lat

# the index number for missing bridge coordinates in sector 3208 is 917
bridges.loc[917, ' GPS (Latitude)'] = -1.943812
bridges.loc[917, 'GPS (Longitude)'] = 29.35906
# the index number for missing bridge coordinates in sector 3409 is 1205
bridges.loc[1205, ' GPS (Latitude)'] = -1.6838434857142859
bridges.loc[1205, 'GPS (Longitude)'] = 29.498763814285716

In [119]:
# verify those are updated
print(bridges[bridges['GPS (Longitude)'] == 'Unknown'], '\n')

print(bridges[bridges[' GPS (Latitude)'] == 'Unknown'])

Empty DataFrame
Columns: [Province, District, Sector, Bridge Site Name, Project Stage, Project Code, Bridge Type,  GPS (Latitude), GPS (Longitude), Individuals Directly Served, Assessment Date, Original_Community_col, Community_Served, Prov_ID, Dist_ID, Sect_ID, Mean share of harvest sold, School_count,  Population of Sector , Access rate, Umurenge SACCO, MFIs, Bank Branch, ATM, Bank Agent, Mobile Money Agent, Banked, Other formal (non-bank), Informal only, Excluded, num_communities_served]
Index: []

Empty DataFrame
Columns: [Province, District, Sector, Bridge Site Name, Project Stage, Project Code, Bridge Type,  GPS (Latitude), GPS (Longitude), Individuals Directly Served, Assessment Date, Original_Community_col, Community_Served, Prov_ID, Dist_ID, Sect_ID, Mean share of harvest sold, School_count,  Population of Sector , Access rate, Umurenge SACCO, MFIs, Bank Branch, ATM, Bank Agent, Mobile Money Agent, Banked, Other formal (non-bank), Informal only, Excluded, num_communities_served]
Index: []

In [120]:
# now we need to make sure that the coordinates are floats not objects

bridges[[' GPS (Latitude)', 'GPS (Longitude)']] = bridges[[' GPS (Latitude)', 'GPS (Longitude)']].astype(float)

#### Individuals Served

In [121]:
# if individuals directly served is "Unknown" we will change it to 0.
bridges['Individuals Directly Served'] = bridges['Individuals Directly Served'].replace('Unknown', 0.0)

In [122]:
# change the individuals served to an int value type.
bridges['Individuals Directly Served'] = bridges['Individuals Directly Served'].astype(float).astype(int)

#### Population by Sector

In [152]:
# population should be an integer

test = bridges.copy()
test.head()

           Province District  ... Excluded num_communities_served
0  Western Province   Rusizi  ...       21                      5
1  Western Province   Rusizi  ...       21                      5
2  Western Province   Rusizi  ...       21                      5
3  Western Province   Rusizi  ...       21                      5
4  Western Province   Rusizi  ...       21                      1

[5 rows x 31 columns]

In [153]:
# helper function to clean and make string an integer
def to_int(i):
  return int(float(i.strip().replace(',', '')))

In [154]:
test[' Population of Sector '] = test[' Population of Sector '].apply(to_int)

In [155]:
test.head()

           Province District  ... Excluded num_communities_served
0  Western Province   Rusizi  ...       21                      5
1  Western Province   Rusizi  ...       21                      5
2  Western Province   Rusizi  ...       21                      5
3  Western Province   Rusizi  ...       21                      5
4  Western Province   Rusizi  ...       21                      1

[5 rows x 31 columns]

In [156]:
# run this on the acutal data frame now. 

bridges[' Population of Sector '] = bridges[' Population of Sector '].apply(to_int)

In [157]:
bridges.dtypes

Province                        object
District                        object
Sector                          object
Bridge Site Name                object
Project Stage                   object
Project Code                     int64
Bridge Type                     object
 GPS (Latitude)                float64
GPS (Longitude)                float64
Individuals Directly Served      int64
Assessment Date                 object
Original_Community_col          object
Community_Served                object
Prov_ID                          int64
Dist_ID                          int64
Sect_ID                          int64
Mean share of harvest sold     float64
School_count                     int64
 Population of Sector            int64
Access rate                    float64
Umurenge SACCO                  object
MFIs                            object
Bank Branch                     object
ATM                             object
Bank Agent                      object
Mobile Money Agent              object
Banked                           int64
Other formal (non-bank)          int64
Informal only                    int64
Excluded                         int64
num_communities_served           int64
dtype: object

#### Average time to banking institutions

In [199]:
# make copy for testing 

temp_travel = bridges.copy()

In [167]:
# These should all be float values
travel_times = ['Umurenge SACCO', 'MFIs', 'Bank Branch', 'ATM', 'Bank Agent', 'Mobile Money Agent']

bridges[['Project Code'] + travel_times]

      Project Code Umurenge SACCO   MFIs  ...    ATM Bank Agent Mobile Money Agent
0          1014107          38:21  49:27  ...  52:00      50:17              32:21
1          1014106          38:21  49:27  ...  52:00      50:17              32:21
2          1014108          38:21  49:27  ...  52:00      50:17              32:21
3          1014105          38:21  49:27  ...  52:00      50:17              32:21
4          1014166          38:21  49:27  ...  52:00      50:17              32:21
...            ...            ...    ...  ...    ...        ...                ...
1342       1013231          45:00  49:00  ...  51:00      49:00              29:22
1343       1007493          45:00  49:00  ...  51:00      49:00              29:22
1344       1012820          45:00  49:00  ...  51:00      49:00              29:22
1345       1012818          45:00  49:00  ...  51:00      49:00              29:22
1346       1012817          45:00  49:00  ...  51:00      49:00              29:22

[1347 rows x 7 columns]

In [178]:
temp_travel[['Project Code', 'Umurenge SACCO']][0:5]

   Project Code Umurenge SACCO
0       1014107          38:21
1       1014106          38:21
2       1014108          38:21
3       1014105          38:21
4       1014166          38:21

In [ ]:
# test on for loop...will make a function to apply
for i in travel_times:  
  print(i,'\n')
  #filter dataframe by just the wanted columns
  tmp = temp_travel[['Project Code', i]][0:5]
  print(tmp, '\n')

  # split the columns into a minutes and second columns
  tmp[[f'{i} Min', f'{i} Sec']] = tmp[i].str.split(':', n=2, expand=True)
  
  # cast new minutes and seconds columns to be an integer
  tmp[f'{i} Min'] = tmp[f'{i} Min'].astype(int)
  tmp[f'{i} Sec'] = tmp[f'{i} Sec'].astype(int)

  # convert seconds into minutes
  tmp[f'{i} Sec'] = tmp[f'{i} Sec'] / 60

  # add the seconds column to the minutes column
  tmp[f'{i} Min'] = tmp[f'{i} Min'] + tmp[f'{i} Sec']

  # Drop the original column and the seconds column since we dont need anymore
  tmp = tmp.drop(columns=[i, f'{i} Sec'] )
  print(tmp, '\n')
  print('______________')

In [198]:
def convert_travel_times(df, column):
  X = df.copy()
  # print(i,'\n')
  #filter dataframe by just the wanted columns
  X = X[['Project Code', column]]
  # print(tmp, '\n')

  # split the columns into a minutes and second columns
  X[[f'{column} Min', f'{column} Sec']] = X[column].str.split(':', n=2, expand=True)
  
  # cast new minutes and seconds columns to be an integer
  X[f'{column} Min'] = X[f'{column} Min'].astype(int)
  X[f'{column} Sec'] = X[f'{column} Sec'].astype(int)

  # convert seconds into minutes
  X[f'{column} Sec'] = X[f'{column} Sec'] / 60

  # add the seconds column to the minutes column
  X[f'{column} Min'] = X[f'{column} Min'] + X[f'{column} Sec']

  # Drop the original column and the seconds column since we dont need anymore
  X = X.drop(columns=[column, f'{column} Sec'] )
  # print(tmp, '\n')
  # print('______________')

  return X

In [197]:
travel_times

['Umurenge SACCO',
 'MFIs',
 'Bank Branch',
 'ATM',
 'Bank Agent',
 'Mobile Money Agent']

In [200]:
umurenge_SACCO_df = convert_travel_times(temp_travel, 'Umurenge SACCO')

In [201]:
umurenge_SACCO_df

      Project Code  Umurenge SACCO Min
0          1014107               38.35
1          1014106               38.35
2          1014108               38.35
3          1014105               38.35
4          1014166               38.35
...            ...                 ...
1342       1013231               45.00
1343       1007493               45.00
1344       1012820               45.00
1345       1012818               45.00
1346       1012817               45.00

[1347 rows x 2 columns]

In [176]:
for i in travel_times:
  (i)

Umurenge SACCO
MFIs
Bank Branch
ATM
Bank Agent
Mobile Money Agent

In [ ]:

bridges['Umurenge SACCO'].str.split(':', n=2, expand=True)

In [ ]:
X[['top_minutes', 'top_seconds', 'top_miliseconds']] = X['time_of_possession'].str.split(':', n=2, expand=True)